@charset "UTF-8";
body {
	webkit-tap-highlight-color:rgba(255,255,255,0);
}
header img{
	width: 100%;
}
img {
	width:100%;
}
.clearfix:after {
	content:'';
	display:block;
	clear:both;
}
.block {
   	margin: 20px 15px 40px;
}
.block h4 {
    font-size: 17px;
}
.block h4:before {
    font-family: icon;
    margin-right: 8px;
}
.block p {
	margin-top:20px;
	position: relative;
}
.block p span {
    display: block;
    line-height: 30px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}
.block a.more-info{
	display: inline;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 0.7em;
	color: #ff3300;
}
.weekMenu h4:before {
    content: '\e604';
}
.weekMenu p img {
    display: block;
    float: left;
    width: 110px;
    height: 90px;
    margin-right: 20px;
}
.weekMenu p .name {
    font-size: 18px;
    padding-top: 0.5em;
}
.weekMenu p .price b {
    font-weight: normal;
    font-size: 16px;
}
.weekMenu p .price i {
    font-style: normal;
  
}
.time-range h4:BEFORE{
	content: '\e74f';
}

.address h4:before {
    content: '\e750';
}
.address p img {
    display: block;
    float: left;
    width: 110px;
    height: auto;
    margin-right: 20px;
}
.address p .name {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.address p .name:after {
    font-family: icon;
    content: '\e65b';
    margin-left: .5em;
}
.address p .addr {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
footer .order-link {
    color: #663300;
}
footer .main {
    background-color: #663300;
}

.time-range span {
    font-size: 0.8em;
    color: #999;
}


.shade {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.2);
	z-index:9;
}
.shade >div {
	font-size:20px;
	width: 80%;
	height: 6em;
	border-radius: 0.4em;
	background-color: rgba(250,250,250,1);
	position: absolute;
	top: 30%;
	left: 10%;
	text-align: center;
	padding-top:0.5em;
 }
.shade >div >p {
	padding:0;
	margin:0;
	height:1.6em
}
.shade >div >div.shade-operation {
	margin-bottom:0.5em;
}
.shade >div >div.shade-operation:after{
	content:'';
	display:block;
	clear:both;
}
.shade span.shade-warn {
	display:block;
	float:left;
	margin-left:1em;
	width:1.1em;
	height:1.1em;
	line-height:1.1em;
	text-align:center;
	border-radius:50%;
	color:#F0B840;
	border:2px solid #F0B840;
}
.shade span.shade-close {
	font-size:40px;
	display:block;
	float:right;
	margin-right:0.5em;
	width:0.55em;
	height:0.55em;
	line-height:0.55em;
	text-align:center;
	color:#004621;
}
div#detail-content * {
    text-align: left;
}