@charset "UTF-8";
*{
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}
i {
	font-style:normal;
}
.clearfix:after {
	content:'';
	display:block;
	clear:both;
}
.send-info p {
	line-height:3.6em;
	border-bottom: 1px solid #E6E3E5;
    padding: 0 1em;
    float: left;
    width: 100%;
}
.send-date,.send-address {
	margin-left:1em;
}
.send-time {
	margin-left:5px;
}
.user-info{
	clear: left;
}
.user-info p {
	height:3.6em;
	line-height:3.6em;
	border-bottom: 1px solid #E6E3E5;
    padding: 0 1em;
}
.user-info p.layout-flex {
	display:flex;
	align-items: center;
}

p.layout-select:after {
	font-family: icon;
	display:inline-block;
	content:"\e600";
	color:#C8C8CD;
	float:right;
	margin-right:0.5em;
	height:3.6em;
	line-height:3.6em;
}
.form-label {
	display:inline-block;
	width:5em;
	margin-right:1em;
}
.form-input {
	flex:1;
	-webkit-appearance: none;
	height: 1.2em;
    line-height: 1.2em;
}
.booking-info p {
	height: 3.6em;
    line-height: 3.6em;
    border-bottom: 1px solid #E6E3E5;
    padding: 0 1em;
}
.booking-info p.layout-flex {
	display:flex;
	align-items: center;
}
.operate-count {
	display:inline-block;
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}
.dishs-minus,
.dishs-plus  {
	display:inline-block;
	font-family: icon;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 15px;
    border: 1px solid #663300;
    vertical-align:middle;
}
.dishs-minus {
	color: #663300;
    background-color: #ffffff;
    margin-right: 0.5em;
}
.dishs-plus {
	color:#ffffff;
	background-color:#663300;
	margin-left: 0.5em;
}
.dishs-plus:before {
	content:'\e619';
}
.dishs-minus:before {
	content:'\e632';
}
.dishs-text {
	margin:0 0.5em;
}
.remain-container		  {
	color:#f74342;
	font-size:12px;
	display: inline-block;
    height: 2em;
    line-height: 2em;
    margin-top: 0.25em;
}
.add {
	display:block;	
    width: 4em;
    height: 2em;
    line-height: 2em;
    float: right;
    background-color: #663300;
    text-align: center;
    color: #ffffff;
    border-radius: 0.8em;
    margin-top:0.8em;
}
.order-info {
	position:relative;
}
.order-info:after {
	position: absolute;
    right: 36px;
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #F3F2F1;
    top: -9px;
}
.order-info ul li {
	float:left;
	text-align:center;
	box-sizing:border-box;
}
.title-row {
	background-color:#F3F2F1;
	font-size:15px;
	height:3em;
	line-height:3em;
}
.data-row li {
	padding:0.5em 0;
	word-wrap:break-word
}
li.goods-name {
	width:45%;
	padding-left:1em;
}
li.goods-count {
	width:15%;
}
li.goods-price,
li.goods-operate {
	width:20%;
}
ul.data-row li.goods-operate {
	color:#663300;
}
.total-price {
	text-align:right;
	background-color: #FAFAF9;
}
.total-price .price {
	color:#f74342;
}
.remarks {
	padding:0 1em;
	position:relative;
	margin-bottom:35px;
}
.remarks > span {
	display:block;
    line-height: 35px;
}
.remarks textarea {
    display:block;
    width:100%;
    height:80px;
	background-color: #FAFAF9;
	border-radius: 10px; 
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    padding: 5px 1em 5px 2em; 
    box-sizing: border-box; 
}
.remarks:before {
	font-family: icon;
    content: "\e7c5";
    position: absolute;
    top: 40px;
    left: 1.4em;
    color: #aaa;
}

footer .order-link {
    color: #663300;
}
footer .main {
    background-color: #663300;
}

span.stat-label {
    display: block;
    float: left;
    width: 20%;
    min-width: 5em;
}
span.stat-value {
    display: block;
    float: left;
    margin-left: 0;
    width: 75%;
}
span.stat-value span{
	white-space: nowrap;
}


.user-info.alert-info{
	background-color: #FFFACD;
}
.user-info.alert-info>h4{
	background-color: #FFE4B5;
}

.shade {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.2);
	z-index:9;
}
.shade >div {
	font-size:20px;
	width: 12em;
    height: 6em;
    border-radius: 0.4em;
    background-color: rgba(250,250,250,1);
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -6em;	
    text-align: center;
    padding-top:0.5em;
	
}
.shade >div >p {
	padding:0;
	margin:0;
	height:1.6em
}
.shade >div >div.shade-operation {
	margin-bottom:0.5em;
}
.shade >div >div.shade-operation:after{
	content:'';
	display:block;
	clear:both;
}
.shade span.shade-warn {
	display:block;
	float:left;
	margin-left:1em;
	width:1.1em;
	height:1.1em;
	line-height:1.1em;
	text-align:center;
	border-radius:50%;
	color:#F0B840;
	border:2px solid #F0B840;
}
.shade span.shade-close {
	font-size:40px;
	display:block;
	float:right;
	margin-right:0.5em;
	width:0.55em;
	height:0.55em;
	line-height:0.55em;
	text-align:center;
	color:#004621;
}
.overtime-shade p.time-range{
	font-size: 0.5em;
	color: #999;
}