@CHARSET "UTF-8";
body,html {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.page-list {
	padding:0 8px;
}
i {
	font-style:normal;
}
.order {
    border-top: 1px solid #E3E1DE;
    background-color: #fff;
    padding-top:5px;
    margin-bottom:10px;
}
.order:first-child {
    border-top: none;
}
.order p {
    padding: 0 15px;
    line-height: 30px;
    position: relative;
}
.order p:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.order .detail {
    background-color: #FAFAF9;
    margin-top: 6px;
    padding: 15px;
}
.order .detail img {
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.order .detail .name {
	float: left;
    height: 70px;
    line-height: 70px;
}
.order .detail .name i {
	margin-left:0.5em;
}
.order .detail .price {
	float: right;
    height: 70px;
    line-height: 70px;
    margin-right:10px;
}
.order .result {
    text-align: right;
    font-size: 12px;
}
p.operate {
    text-align: right;
    height: 3em;
    line-height: 3em;
}
p.operate .operate-button {
	width: 6em;
    height: 1.8em;
    line-height: 1.8em;
    border: 1px solid #999999;
    display: inline-block;
    text-align: center;
    border-radius: 1em;
    color: #777777;
 
}
p.operate .operate-revise {
	width: 6em;
    height: 1.8em;
    line-height: 1.8em;
    border: 1px solid #f74342;
    display: inline-block;
    text-align: center;
    border-radius: 1em;
    color: #f74342;
}
.timePoint, .time, .location {
	float:left;
}
.order-detail-wrap {
	font-size:12px;
	display:none;
	overflow:hidden;
	
}
.order-detail-wrap.active {
	display:block;
}
.circle-point-icon {
	color:#999999;
	float:left;
	width:1.4em;
	height:1.4em;
	line-height:1.4em;
	text-align:center;
	font-size:1.4em;	
	vertical-align:middle;
	margin-top:0.3em;
	transition:all linear .2s;
	-ms-transition:all linear .2s;
	-moz-transition:all linear .2s;
	-webkit-transition:all linear .2s;
	-o-transition:all linear .2s;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	
	-moz-transform:rotate(90deg); 	
	-webkit-transform:rotate(90deg); 
	-o-transform:rotate(90deg); 	
	webkit-tap-highlight-color:rgba(0,0,0,0);
}
.circle-point-icon:before {
	font-family:icon;
	content:"\e600";	
	webkit-tap-highlight-color:rgba(0,0,0,0);
}
.circle-point-icon.active {
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 	
	-moz-transform:rotate(-90deg); 	
	-webkit-transform:rotate(-90deg); 
	-o-transform:rotate(-90deg); 	
}
.hideinfo>span {
	display:block;
}
footer .order-link {
    color: #663300;
}
footer .main {
    background-color: #663300;
}
.head>.order-code{
	float: left;
}
.head>.order-status{
	float: right;
}