@charset "utf-8";
/* 分页列表  */
.page-list:before, .page-list:after {
    display: block;
    text-align: center;
    line-height: 3rem;
    font-size: 0.5rem;
}
.page-list.loading:after {
    content: "正在加载...";
}
.page-list:not(:empty).nomore:after {
    content: "已经到底啦";
}
.page-list:empty:before {
    content: "暂无数据";
}
.page-list.loading:empty:before {
    content: "";
}