@charset "utf-8";
body {
  background-color: #F7F7F6;
}
.order {
  border: 1px solid #E3E1DE;
  border-left: none;
  border-right: none;
  background-color: #fff;
  margin-bottom: 13px;
}
.order p {
  padding: 0 15px;
  line-height: 40px;
  position: relative;
}
.order p:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.order .number {
  /*i.cancel {color: #aaa;} 取消样式*/
}
.order .number i {
  font-style: normal;
  float: right;
  color: #00A048;
}
.order .detail {
  background-color: #FAFAF9;
  margin-top: 6px;
  padding: 15px;
}
.order .detail img {
  display: block;
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.order .detail span {
  display: block;
  line-height: 35px;
}
.order .detail .name {
  font-size: 16px;
}
.order .detail .name i {
  font-size: 15px;
  font-style: normal;
  float: right;
}
.order .detail .name i:before {
  content: "X";
}
.order .detail .price {
  font-weight: bold;
}
.order .detail .btn {
  float: right;
  margin-top: -33px;
}
.order .detail:nth-child(2) {
  margin-top: 0;
}
.order .result {
  text-align: right;
}
.order .result .time {
  float: left;
}
.order .result .count,
.order .result .money {
  color: #aaa;
}
.order .result .count b,
.order .result .money b {
  color: #000;
  font-weight: normal;
}
.order .result .count {
  margin-right: 20px;
}
.order .result .count b {
  margin: 0 5px;
}
.order .tool {
  padding: 5px 15px;
  border-top: 1px solid #E3E1DE;
}
.order .tool .btn {
  float: right;
}
.order:first-child {
  border-top: none;
}
