<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<!-- dao自动扫描 -->
	<context:component-scan base-package="cn.sowell.ddxyz.model.*.dao.impl" />
	<!-- serivce自动扫描 -->
	<context:component-scan base-package="cn.sowell.ddxyz.model.*.service.impl" />
	<!--  -->
	<context:component-scan base-package="cn.sowell.ddxyz.model.common.core.impl" />
	<!-- controller自动扫描(自动注入) -->
	<context:component-scan base-package="cn.sowell.ddxyz.*.controller.*" />
	<mvc:interceptors>
		<!-- 用于在请求中设置一些常用的变量 -->
		<bean class="cn.sowell.ddxyz.weixin.interceptor.CommonRequestAttributeSetInterceptor" />
	</mvc:interceptors>
	
	<!-- 预付款订单号生成器 -->
	<bean id="prepayTradeNoGenerator" class="cn.sowell.ddxyz.weixin.common.PrepayTradeNoGenerator"/>
	
	<!--  -->
	<bean id="springContextListener" class="cn.sowell.copframe.common.SpringContextListener" />
	
	<!-- 定时加载当天配送任务 -->
	<bean id="deliveryGenerateSchedule" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="defaultDeliveryManager" />
		<property name="targetMethod" value="loadTodayDeliveries" />
	</bean>
	<!-- 定时动作触发器 -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="deliveryGenerateSchedule" />
		<property name="cronExpression" value="0 0 0 * * ? *" />
	</bean>
	<!-- 定时器工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
	    <property name="triggers" ref="cronTrigger" />  
	</bean>  
</beans>